body{
  background-color:#4D5061 ;
}


.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;
  color:#E7E247 ;
  

}

.btn {
  border: 0;
  color:#E7E247 ;
  font-weight: bold;
  background-color: #3D3B30;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3D3B30;
  color:#E7E247 ;

}

.container_01 {
  width: 100%;
  background-color:red;
  text-align: center;
}

.container_01 ul{
list-style: none;
  
}

.container_01 ul li{
  display: inline-block;
  padding: 20px;
}

.espaciosSilabas{
  display: flex;
  margin: 0 auto;
  background-color: #3D3B30;
  height: 50px;
  width: 700px;
  align-items:center;
  justify-content:space-evenly
}


.espaciosSilabas span{
  color: #E7E247
}